{% load catalog_tags %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="{% url 'catalog:home' %}" class="text-decoration-none text-dark">Skystore</a>
    </h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blogpost_list' %}">Блог</a>

        {% if user.is_authenticated %}
            <a class="p-2 btn btn-success" href="{% url 'catalog:product_create' %}">
                <i class="bi bi-plus-circle"></i> Добавить товар
            </a>
        {% endif %}

        {% if user.is_authenticated %}
            <span class="p-2 text-muted">|</span>
            <span class="p-2 text-muted">Привет, {{ user.username }}</span>
            <a class="p-2 btn btn-outline-danger" href="{% url 'users:logout' %}">
                <i class="bi bi-box-arrow-right"></i> Выйти
            </a>
        {% else %}
            <a class="p-2 btn btn-outline-success" href="{% url 'users:login' %}">
                <i class="bi bi-box-arrow-in-right"></i> Войти
            </a>
            <a class="p-2 btn btn-success" href="{% url 'users:register' %}">
                <i class="bi bi-person-plus"></i> Регистрация
            </a>
        {% endif %}
    </nav>
</div>